{{!
    @template theme_iiidem2/page_end

    Standard page closing: shared footer + Moodle hooks.
    Place inside #page-wrapper, after main content / #page.
}}
{{> theme_iiidem2/footer }}
{{{ output.standard_after_main_region_html }}}
