  <h2>TJAindraard</h2>

{{#isstudent}}
    {{> theme_iiidem2/dashboard/student }}
{{/isstudent}}

{{#isteacher}}
    {{> theme_iiidem2/dashboard/teacher }}
{{/isteacher}}

{{#isadmin}}
    {{> theme_iiidem2/dashboard/admin }}
{{/isadmin}}