{{!
    @template theme_iiidem2/pages/course-detail

    Public course detail (no login required).
}}
{{> theme_iiidem2/navbar }}

<main class="iiidem-marketing-page iiidem-course-detail-page">

    {{> theme_iiidem2/course/hero }}

    {{> theme_iiidem2/course/curriculum }}

    {{#hasinstructors}}
    {{> theme_iiidem2/course/instructors }}
    {{/hasinstructors}}
    {{#hasfaqs}}
    {{> theme_iiidem2/course/faq }}
    {{/hasfaqs}}

</main>

{{> theme_iiidem2/page_end }}
