

<div class="container mt-3 course-faq">
  <h2>Frequently Asked Questions</h2>

  <div class="accordion iiidem-accordion" id="courseFaqAccordion">
        {{#faqs}}
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqheading{{id}}">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#faqcollapse{{id}}"
                        aria-expanded="false"
                        aria-controls="faqcollapse{{id}}">
                    {{question}}
                </button>
            </h2>

            <div id="faqcollapse{{id}}"
                 class="accordion-collapse collapse"
                 data-bs-parent="#courseFaqAccordion">
                <div class="accordion-body">
                    {{{answer}}}
                </div>
            </div>
        </div>
        {{/faqs}}

        {{^faqs}}
            <p>No FAQ available for this course.</p>
        {{/faqs}}
    </div>
</div>
