<section class="iiidem-course-hero" style="background-image:url('{{ courseimage }}');">
    <div class="container position-relative">
        <div class="row align-items-center hero-row">
            <div class="col-12">
                <div class="hero-content">
                    <h1 class="course-title">{{ coursename }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
