<section class="iiidem-course-hero" style="background-image:url('{{ courseimage }}');">
    <div class="container position-relative">
        <div class="row align-items-center hero-row">
            <div class="col-12" aria-hidden="true"></div>
        </div>
    </div>
</section>
