{{!
{{> theme_iiidem2/course/hero }}

{{> theme_iiidem2/course/statistics }}

{{> theme_iiidem2/course/tabs }}

{{> theme_iiidem2/course/outcomes }}



{{> theme_iiidem2/course/testimonials }}

{{> theme_iiidem2/course/faq }}

{{> theme_iiidem2/course/related }}

<div class="course-content-wrapper">
    {{{coursecontent}}}
</div>
}}